.text{
    font-family : 'Sans-serif', Arial, Helvetica, sans-serif ;
}
.profile{
    padding-top:5%;
    display: inline-grid;
}

.info{
    /* grid-column: 1;
    grid-row:1; */
    display: flex;
    padding:5%;
    text-align: center;
    /* margin:auto; */
    flex-direction: column;
    align-items: center;
    font-family: 'Sans-serif', Arial, Helvetica, sans-serif;
    
}
.user{
    grid-column:2;
    grid-row:1;
    padding:5%;
    font-family: 'Sans-serif', Arial, Helvetica, sans-serif;
    
}
.h2{
    font-family : 'Sans-serif', Arial, Helvetica, sans-serif ;
}
.avatar{
    order:-1;
   
}
.user-info{
    display:block;
    font-family: 'Sans-serif', Arial, Helvetica, sans-serif;
}
.user{
   display:block;
   font-family: 'Sans-serif', Arial, Helvetica, sans-serif;

}
.welcome{
    font-family: 'Sans-serif', Arial, Helvetica, sans-serif;
    height:fit-content;
  
   
    
   
    
}

.products{
    display:inline-grid;
    padding:5%;
}
.donations{
    grid-column: 1;
    grid-row:1;
    padding-right:5%;
   
}
.recycled{
    grid-column: 2;
    grid-row:1;
    padding-left:5%;
    
}
.number{
    font-family : 'Sans-serif', Arial ;
}